
.col{
    display: flex;
    justify-content: center;
}
.col .square1 {
    background: red;
    width: 200px;
    height: 200px;
}

.col .square2 {
    background: blue;
    width: 200px;
    height: 200px;
}
